<section class="box">
  <div class="box__post" *ngFor="let post of postList">
    <div class="box__inf">
      <p class="box__create">{{post.created_at | date:'h'}} hours ago by {{post.author}}</p>
      <p class="box__title">{{post.story_title}}</p>
      <!-- <p>url: {{post.story_url}}</p> -->
    </div>

    <div class="box__like">
      <button class="box__button" (click)="saveFavoritePost(post)">
        <img src="/../assets/img/heart-white.svg" alt="">
        <!-- <img src="/../assets/img/heart-red.svg" alt=""> -->
      </button>
    </div>
  </div>
</section>
