body {
  margin: 0;
}

.header {
  height: 114px;
  padding: 0;
  /* box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #ffffff 124%); */
}

/* .header__image {
  background-image: url("./assets/img/logo.png");
} */
