.box__img {
  background-image: url('/../assets/img/hacker-news.svg');
  background-repeat: no-repeat;
}

.box__header {
  height: 114px;
  padding: 0;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  /* background: linear-gradient(to bottom, #ececec -32%, #ffffff 124%); */
}
